{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'main:index' %}">Home</a>
    </div>
    <h1>Nutcroft Handbook</h1>

    <h2>Knives</h2>
    <p>
        Our knives are the most prized possession of our esteemed kitchen. We hold
        them very highly in our modus operandi and there are specific practices that
        one should follow when interacting with them. Namely:
    </p>
    <ol>
        <li>
            Do not use the harsh green side of the sponge because it destroys the
            amazing anti-stick coating of the knives.
        </li>
        <li>
            Do not put the knives into the washing machines because lots of water makes
            them less sharp.
        </li>
        <li>
            Do not put knives with other knives or with other cutlery because it’s like
            a sword fight and they get damaged.
        </li>
        <li>
            Do not place knives inside the washing cutlery rack because it’s made out
            of metal and it will be like a sword fight again.
        </li>
    </ol>
    <p>
        Finally, we are racist towards our knives as all these practices are about
        coloured knives. We don’t care about our generic gold and silver knives.
    </p>
    <p>
        The guardian of the operations around knives is Flo.
    </p>

    <h2>Pans</h2>
    <p>
        We have a wide range of pans, which, in order to take care of, and because they
        are anti-stick pans, we should not use the harsh green side of the sponge on the
        inside side of the pans.
    </p>
    <p>
        In addition, we do not put them inside the dish washing machine (or any washing
        machine actually).
    </p>

    <h2>Cleaning</h2>
    <p>
        We clean our revered house every week and we are very meticulous in keeping it
        clean every time we interact with any room or piece of furniture. We keep our
        cleaning rota at nutcroft.com and one can also subscribe for email updates
        every Monday 8am exactly.
    </p>
    <p>
        The common-for-all weekly house cleaning tasks are:
    </p>
    <ol>
        <li>Kitchen part 1</li>
        <li>Kitchen part 2</li>
        <li>Living room</li>
        <li>Corridors</li>
        <li>Bins</li>
        <li>Vacuum cleaner</li>
        <li>Front porch</li>
    </ol>
    <p>
        In addition to these we also have the toilets which are cleaned by the people
        that share them.
    </p>

    <h2>Bikes</h2>
    <p>
        How could we not have a special relationship with the past, present, and
        future of urban transportation? The best, coolest, most efficient, most
        environmentally friendly, most human friendly, sum positive means of
        transportation is highly regarded in the Nutcroft Foundation. We have resident
        expert bicycle knowledge that we share amongst us, as well as, all the
        necessary tools to fix and maintain one’s bicycle.
    </p>

    <h2>Guests policy</h2>
    <p>
        We welcome all Nutcroft residents to bring their guests, though due to corona
        we have established that one should inform the Foundation beforehand.
    </p>
    <p>
        The process for long term guests (more than 1-2 weeks) is open to discussion.
    </p>

    <h2>Washing machines</h2>
    <p>
        We have a high quality fully automated dish washing machine that we use daily.
        Some things can’t go inside such as the coloured knives and the pans.
    </p>
    <p>
        We also have two clothes washing machines. The one on the ground floor is
        currently facing some issues and may not start if angry. The one in the kitchen
        is super friendly though, starts immediately on the touch of a button.
    </p>

    <h2>Hoover</h2>
    <p>
        We have a state of the art vacuum cleaner which we call Hoover, or just H. The
        official residing place of H is in the living room while H can sometimes be
        found hanging around outside the kitchen.
    </p>
    <p>
        H has many functions and we keep learning new ones as time passes and we
        interact more.
    </p>
    <p>
        H has recently had an illness in which filters  were lost and fans got
        infiltrated by dust. Thankfully we fitted H with new filters as soon as
        possible.
    </p>
    <p>
        The guardian of the Hoover is Karen.
    </p>

    <h2>Garden</h2>
    <p>
        We grow fruit and vegetable in the garden. There is also a newly built fire pit
        which we plan to use in the winter in case the heating breaks down.
    </p>

    <h2>Bins</h2>
    <p>
        We love bins (we have 8 in total) but we are also racist towards them. We have
        4 of them in the kitchen. Namely:
    </p>
    <ul>
        <li>
            Blue: recycling
        </li>
        <li>
            Black: general waste
        </li>
        <li>
            Small brown (small compost): vegan food + crushed egg shells, but not deep
            fried stuff or garlic
        </li>
        <li>
            Big brown: non-vegan food, deep fried food, garlic, non-crushed eggshells
        </li>
    </ul>
    <p>
        For the compost, you can find more information on what is compostable in the
        flyer on the tall fridge.
    </p>
    <p>
        The Southwark Council collects some of our garbage every Thursday. Depending
        on the week it may collect either brown + blue or brown + black. One can find
        the annual schedule on the tall fridge.
    </p>
    <p>
        Every Wednesday night, the resident in charge of bins makes sure that the
        appropriate garbage has been put out and the appropriately coloured bins are
        outside of our front porch.
    </p>
    <p>
        Finally, we have the big compost in the garden, which we put the small
        compost’s contents.
    </p>

    <h2>Alcohol</h2>
    <p>
        How could we be true revolutionaries if we didn’t consume one of the most
        ancient and dangerous substances? Alcohol, and specifically beer and mezcal are
        the two official drinks of the Nutcroft Foundation. While we love those
        timelessly, we continuously try new ones to broaden our horizons.
    </p>

    <h2>Parties</h2>
    <p>
        We hold multi-annual Nutcroft conferences which denote milestones in our
        society’s journey throughout time. Due to corona we had to cut back on those
        but we do have the next one scheduled for July 11th.
    </p>

    <h2>Meetings</h2>
    <p>
        The holy process of Nutcroft is our house meetings. We used to hold them every
        one or two weeks, but due to corona times, we now hold ad-hoc meetings.
    </p>
    <p>
        The meetings take place in the kitchen, sitting around the holy table. Every
        meeting has a moderator and a meeting notes author.
    </p>
    <p>
        The moderator's job is to control who talks so that there is equality amongst
        everybody in talking and hearing time. In order to do this efficiently, and
        without talking, we have adopted some signs to convey our thoughts in a muted
        fasion. Specifically:
    </p>
    <ul>
        <li>
            To convey aggreement, one raises their hands with their palms in a
            spherical shape and shakes them circularly, like
            <a href="https://youtu.be/__R-r2t0vSU?t=112">Helena is doing here</a>.
        </li>
        <li>
            To convey disagreement and respond to a point, one raises their hands with
            their palms in a straight shape, while also holding them parallel to one
            another.
            <a href="https://youtu.be/bNkjHdgV0hg?t=208">Brad shows how here</a>, but
            remember to use both hands (in constrast to Brad).
        </li>
        <li>
            To convey disagreement and respond to a <em>direct</em> point, one uses
            their thumb and index and shapes them like a lobster's claw.
            <a href="https://youtu.be/f48latbh7q4">Here's an example</a> of how it
            should like.
    </ul>
    <p>
        The moderator closely watches everybody and when somebody makes a response,
        they make a mental note and give permission to talk to the person who spoke
        the least, or however else they choose to balance the discussion.
    </p>
    <p>
        The meetings notes author's job is to capture what has been said in the meeting
        so that we can refer to it later. It is a job of utmost importance as the
        meeting notes will be the truth that will help us solidify our decisions.
        Ideally, everybody should read the meeting notes after the meeting and sign
        off on them.
    </p>

    <h2>Mates disagreements</h2>
    <p>
        It is unavoidable to have disagreements between the mates of the house at some
        point. Thus it is important to have a high quality process of solving them.
    </p>
    <p>
        Our process is as follows. The person who has the disagreement talks with the
        person that they disagree with. In case this fails, then the person who has
        the disagreement approaches a third person and all three together try to solve
        the issue at hand. If this process also fails, then the person who has the
        disagreement raises the issue on a house meeting (or asks for one if there
        aren't any scheduled).
    </p>
    <p>
        It is important to externalize our disagreements as the person on the other
        side might not be aware of the issue they might cause, while also it might be
        easier for them to rectify than assumed.
    </p>

    <h2>Consensus</h2>
    <p>
        We try to reach consensus in all the decisions we make. The basis of that is
        a common goal we all share: high quality co-living.
    </p>

</section>
{% endblock %}
